body, html {
    font-family: Arial, sans-serif;
    color: #000000; /* Verde mar, para el texto, relacionado con el campo */
    background-color: #ffffff; /* Alice Blue, un azul muy claro, como el cielo */
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 700px;

}

.logo {
    width: 150px; /* Ajusta este valor según el tamaño de tu logo */
    display: block;
    margin: 0 auto; /* Centra el logo */
}

header, footer {
    text-align: center;
    padding: 20px;
    color: #ffffff;
    background-color:#04446E ;
}

nav {
    margin-bottom: 20px;
}

p, nav ul li {
    font-size: 1.5rem;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: #000000; /* Verde agua, para los enlaces, refrescante y atractivo */
}

.features-grid img {
    height: 100px;
    width: 100px;
    padding: 0;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around; /* Flexbox para distribuir los elementos del menú */
  }
  
  .nav-item a {
    display: flex;
    align-items: center;
    color: #007bff; /* Color por defecto de los enlaces en Bootstrap */
  }
  
  @media (max-width: 768px) {
    .navbar-nav {
      flex-direction: row; /* Asegura que el menú se muestre horizontalmente en dispositivos móviles */
    }
  }

  .features-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
  }
  
  .feature-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #F5F5F5; /* Gris claro para el fondo de cada item */
    padding: 20px;
    border-radius: 10px; /* Bordes redondeados para suavizar el diseño */
  }
  
  .feature-item p {
    margin-top: 10px;
    color: #000000; /* Utilizando el verde mar de tu esquema de color */
    font-size: 1rem; /* Tamaño de fuente ajustado para mantener el diseño minimalista */
  }
  

footer { 
    font-size: 20px;

}

footer a {
    color: #3CB371; /* Para mantener la coherencia con el esquema de colores */
}



/* Aquí comienza segunda pag. */



.precio {
    background-color: #f0ad4e; /* Color de fondo */
    color: #fff; /* Color de texto */
    padding: 10px 20px;
    border-radius: 5px;
    margin: 20px 0;
    text-align: center;
}

/* */
.carrusel-container {
    display: grid;
    place-items: center;
    margin: auto; /* Centra el carrusel horizontalmente */
    width: 100%; /* Ajusta al ancho que prefieras */
    max-width: 1080px; /* O el máximo ancho que prefieras */
  }


  .carrusel {
    display: flex;
    overflow-x: auto; /* Permite desplazamiento horizontal */
    scroll-snap-type: x mandatory; /* Habilita snap en scroll para cada elemento */
    width: 100%;
  }
  
  .carrusel-item{
    flex: 0 0 auto; /* Evita que los elementos del carrusel se estiren o encojan */
    width: 60%; /* Asegura que cada elemento ocupe el 100% del ancho del contenedor */
    scroll-snap-align: start; /* Alinea los elementos al hacer scroll */
  }
  
  .carrusel-item img {
    width: 100%; /* Hace que la imagen llene el contenedor del elemento del carrusel */
    display: block; /* Elimina el espacio extra debajo de la imagen */
  }

.atributos p {
    background-color:#007bff;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 7px;
    margin: 40px 0;
    text-align: center;
    font-size: 45px;
}

.atributos p, .atributos ul {
    text-align: center;
    list-style-type: none; /* Elimina los bullets de la lista */
    padding: 0;
}

.atributos li {
    margin-bottom: 10px;
    font-size: 25px;
}

.boton-externo {
    display: inline-block;
    text-align: center;
    font-size: 25px;
    background-color: #007bff; /* Color de fondo azul */
    color: white; /* Texto en color blanco */
    padding: 10px 20px; /* Espaciado interno */
    text-decoration: none; /* Elimina el subrayado del enlace */
    font-weight: bold; /* Fuente en negrita */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s; /* Transición suave del color de fondo */
}

.boton-externo:hover {
    background-color: #0056b3; /* Color de fondo al pasar el mouse */
}

/* Aquí empieza la página de contacto */


main {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
    box-sizing: auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espacio entre los elementos del formulario */


}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea{
    width: 15cm;
    height: 1cm;

}
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0; /* Espacio arriba y abajo de cada elemento */
    /*  box-sizing: border-box; - El padding y border no afectan el ancho final */
    height: 1cm;
    width: 15cm; /* Establece el ancho de los elementos del formulario */
    cursor: pointer;
}

input[type="submit"] {
    background-color: #007bff; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    cursor: pointer; /* Cambia el cursor a una mano */
}

input[type="submit"]:hover {
    background-color: #0056b3; /* Color de fondo al pasar el mouse */
}
