$color-primario: #0961f4; // Azul claro
$color-secundario: #04446E; // Azul oscuro
$color-texto: #000000;
$fondo-pagina: #ffffff;
$fuente-primaria: 'Arial', sans-serif;

$espaciado-base: 20px;
$sombra: 0 2px 4px rgba($color-texto, 0.1);


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: $fuente-primaria;
    color: $color-texto;
    background-color: $fondo-pagina;
}

body {
    display: flex;
    flex-direction: column;
}

// Contenido principal para empujar el footer hacia abajo
/* .main-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        padding-bottom: 100%; // Reducido de 100px para disminuir el espacio
} */

// Estilos específicos para el logo
.logo {
    width: auto; 
    height: 100px; 
    margin: 0 auto; 
}

// Sticky Footer
footer {
    
    margin-top: auto;
    background-color: $color-primario;
    color: $fondo-pagina;
    text-align: center;
    padding: 20px;
}

// Estilos de botón mejorados
.boton {
    background-color: $color-primario;
    color: $fondo-pagina;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: $color-secundario;
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 0 2px rgba($color-secundario, 0.5);
    }
}

header, footer {
    text-align: center;
    padding: 20px;
    color: #ffffff;
    background-color: $color-primario;

    a {
        color: #3CB371;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}



nav {
    margin-bottom: 20px;
    background-color: $color-secundario;

    .container-fluid {
        padding: 10px;    
    }

    ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        justify-content: center;

        li {
            font-size: 1.5rem;
            padding: 10px 0px;

            a {
                text-decoration: none;
                color: #ffffff;
                display: block;
            }

            &:not(:last-child) {
                margin-right: 20px;
            }
        }
    }
}

// Sección Acerca de
.acerca-de {
    padding: $espaciado-base;
    background-color: $fondo-pagina;
    box-shadow: $sombra;
    margin: $espaciado-base 0;
  
    h2 {
      color: $color-primario;
    }
  }
  
  // Sección Testimonios
  .testimonios {
    padding: $espaciado-base;
    background-color: $color-primario;
    color: $fondo-pagina;
  
    blockquote {
      quotes: "“" "”" "‘" "’";
      before {
        content: open-quote;
      }
      after {
        content: close-quote;
      }
      font-style: italic;
    }
  }
  


/* Aquí comienza segunda pag. */



.precio {
    background-color: #f0ad4e; /* Color de fondo */
    color: #fff; /* Color de texto */
    padding: 10px 20px;
    border-radius: 5px;
    margin: 20px 0;
    text-align: center;
}

/* */
.carrusel-container {
    display: grid;
    place-items: center;
    margin: auto; /* Centra el carrusel horizontalmente */
    width: 100%; /* Ajusta al ancho que prefieras */
    max-width: 1080px; /* O el máximo ancho que prefieras */
  }


  .carrusel {
    display: flex;
    overflow-x: auto; /* Permite desplazamiento horizontal */
    scroll-snap-type: x mandatory; /* Habilita snap en scroll para cada elemento */
    width: 100%;
  }
  
  .carrusel-item{
    flex: 0 0 auto; /* Evita que los elementos del carrusel se estiren o encojan */
    width: 60%; /* Asegura que cada elemento ocupe el 100% del ancho del contenedor */
    scroll-snap-align: start; /* Alinea los elementos al hacer scroll */
  }
  
  .carrusel-item img {
    width: 100%; /* Hace que la imagen llene el contenedor del elemento del carrusel */
    display: block; /* Elimina el espacio extra debajo de la imagen */
  }

.atributos p {
    background-color:#007bff;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 7px;
    margin: 40px 0;
    text-align: center;
    font-size: 45px;
}

.atributos p, .atributos ul {
    text-align: center;
    list-style-type: none; /* Elimina los bullets de la lista */
    padding: 0;
}

.atributos li {
    margin-bottom: 10px;
    font-size: 25px;
}

.boton-externo {
    display: inline-block;
    text-align: center;
    font-size: 25px;
    background-color: #007bff; /* Color de fondo azul */
    color: white; /* Texto en color blanco */
    padding: 10px 20px; /* Espaciado interno */
    text-decoration: none; /* Elimina el subrayado del enlace */
    font-weight: bold; /* Fuente en negrita */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s; /* Transición suave del color de fondo */
}

.boton-externo:hover {
    background-color: #0056b3; /* Color de fondo al pasar el mouse */
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    margin: 0 auto;
    max-width: calc(100% - 40px);
    padding: 20px;
    padding-bottom: 2cm;
    align-items: center;
    max-width: calc(100% - 40px);

    @media (max-width: 768px) {
    .features-grid {
        grid-template-columns: 1fr;
        padding-bottom: 50px; // Asegúrate de que también aquí se mantenga el espacio en el fondo
    }
}
}

.feature-item {
    perspective: 1000px;
    margin: 0 10px;


    img {
        height: 100px;
        width: 100px;
    }

    .feature-item-inner {
        width: 100%;
        height: 320px;
        position: relative;
        transition: transform 1s;
        transform-style: preserve-3d;

        &:hover {
            transform: rotateY(180deg);
        }

        .feature-front, .feature-back {
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 20px;
            border-radius: 10px;
        }

        .feature-front {
            background-color: #F5F5F5;
        }

        .feature-back {
            background-color: #E5E5E5;
            transform: rotateY(180deg);

            p {
                color: #000000;
                font-size: 1rem;
                margin-top: 10px;
            }
        }
    }
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px; // Espacio entre los elementos del formulario

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea {
        width: 15cm; // Asegura que los campos de texto ocupen todo el ancho disponible
        padding: 8px; // Espaciado interno para que sea más fácil de leer
        margin-bottom: 10px; // Espacio entre los campos del formulario
    }

    input[type="submit"] {
        align-self: center; // Centra el botón de envío en el formulario
        padding: 10px 20px; // Aumenta el espaciado interno para un mejor clic
        cursor: pointer; // Cambia el cursor a un puntero para indicar que es clickeable
        background-color: $color-primario; // Usa la variable de color primario para el fondo
        color: $fondo-pagina; // Color de texto
        border: none;
        border-radius: 5px; // Bordes redondeados para el botón
        transition: background-color 0.3s ease; // Transición suave al cambiar el color de fondo

        &:hover {
            background-color: $color-secundario; // Cambia el color al pasar el mouse
        }
    }
}

footer {
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: #04446E;
    color: #ffffff;

    a {
        color: #3CB371;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

@media (max-width: 768px) {
    .navbar-nav, .nav-item {
        flex-direction: column;
        align-items: center;
        
        .nav-link {
            padding: 10px 0; // Aumenta el espaciado para facilitar la navegación táctil
        }
    }

    .logo {
        height: 80px; // Reduce el tamaño del logo en dispositivos más pequeños
    }

    .features-grid, .carrusel-container, .atributos, .form {
        padding: 10px; // Reduce el padding para adaptarse a pantallas más estrechas
    }

    .features-grid {
        grid-template-columns: 1fr; // Asegura que las características se apilen verticalmente
    }

    .form input[type="text"], .form input[type="email"], .form input[type="tel"], .form textarea, .form input[type="submit"] {
        width: auto; // Ajusta el ancho de los campos de formulario para adaptarse al contenedor
        margin: 10px; // Aumenta el margen para mejorar la disposición
        
    }

    .atributos p, .atributos li, .boton-externo {
        font-size: 20px; // Reduce el tamaño de la fuente para una mejor legibilidad en pantallas pequeñas
    }
}
/*# sourceMappingURL=styles.css.map */
